# Security-hardened sshd_config
Port {{ ssh_port }}
Protocol 2

# Authentication
PermitRootLogin {{ ssh_permit_root_login }}
MaxAuthTries {{ ssh_max_auth_tries }}
PubkeyAuthentication yes
PasswordAuthentication {{ ssh_password_authentication }}
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes

# Security
X11Forwarding {{ ssh_x11_forwarding }}
AllowAgentForwarding {{ ssh_allow_agent_forwarding }}
AllowTcpForwarding {{ ssh_allow_tcp_forwarding }}
MaxSessions {{ ssh_max_sessions }}
PermitUserEnvironment no
AcceptEnv LANG LC_*

# Logging
SyslogFacility AUTH
LogLevel VERBOSE

# Ciphers and algorithms
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256

# Other settings
ClientAliveInterval 300
ClientAliveCountMax 2
LoginGraceTime 30
StrictModes yes
MaxStartups 10:30:60
Banner /etc/issue.net
